DATABASE_URL=REPLACE_ME
DB_HOST=REPLACE_ME
DB_PORT=REPLACE_ME
DB_NAME=REPLACE_ME
DB_USERNAME=REPLACE_ME
DB_PASSWORD=REPLACE_ME
REDIS_HOST=REPLACE_ME
REDIS_PORT=REPLACE_ME
REDIS_PASSWORD=REPLACE_ME
JWT_SECRET=REPLACE_ME
JWT_SECRET_KEY=REPLACE_ME
GATEWAY_JWT_SECRET=REPLACE_ME
JWT_ISSUER=REPLACE_ME
JWT_EXPIRATION=REPLACE_ME
KAFKA_BOOTSTRAP_SERVERS=REPLACE_ME
AUTH_SERVICE_URL=REPLACE_ME
AWS_S3_ENABLED=REPLACE_ME
SERVER_PORT=REPLACE_ME
SERVER_ADDRESS=REPLACE_ME
SPRING_PROFILES_ACTIVE=REPLACE_ME
AWS_ACCESS_KEY=REPLACE_ME
AWS_SECRET_KEY=REPLACE_ME
AWS_REGION=REPLACE_ME
AWS_S3_BUCKET=REPLACE_ME
SPRING_MAIL_HOST=REPLACE_ME
SPRING_MAIL_PORT=REPLACE_ME
SPRING_MAIL_USERNAME=REPLACE_ME
SPRING_MAIL_PASSWORD=REPLACE_ME
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=REPLACE_ME
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=REPLACE_ME
SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=REPLACE_ME
SPRING_MAIL_DEBUG=REPLACE_ME
APP_MAIL_PROVIDER=REPLACE_ME
ZOHO_MAIL_HOST=REPLACE_ME
ZOHO_MAIL_PORT=REPLACE_ME
ZOHO_MAIL_USERNAME=REPLACE_ME
ZOHO_MAIL_PASSWORD=REPLACE_ME
ZOHO_MAIL_PROPERTIES_MAIL_SMTP_AUTH=REPLACE_ME
ZOHO_MAIL_PROPERTIES_MAIL_SMTP_SSL_ENABLE=REPLACE_ME
ZOHO_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST=REPLACE_ME
